@import url("https://fonts.googleapis.com/css2?family=Anton&family=Belleza&family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Gotham";
  src: url("./gotham/gotham/Gotham Fonts Family/Gotham-Book.otf")
    format("truetype");
  font-weight: 400; /* normal */
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gotham", sans-serif;
  width: 700px;
  margin: auto;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
  border-bottom: 1px solid black;
  padding: 30px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
}
.avatar {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  overflow: hidden;
  flex: 0 0 102px;
  border: 0.51px solid black;
}
.avatar img {
  width: 100%;
  object-fit: cover;
}
.title {
  display: flex;
  gap: 20px;
  align-items: center;
}
.title div {
  align-self: stretch;
  margin-left: 20px;
  width: 11.31px;
  background-color: black;
}
.title h1 span {
  background: linear-gradient(90deg, #e0c3fc, #8ec5fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title h1 {
  max-width: 200px;
  font-size: 41px;
  letter-spacing: 1px;
}
.title h2 {
  font-size: 41px;
  color: var(--charcoal);
  font-weight: 700;
}
.title h2 span {
  background: linear-gradient(to right, #fa709a, #fee140);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrap {
  display: flex;
}

/* sidebar */
.sidebar section {
  margin-bottom: 22px;
}
.sidebar {
  width: 265px;
  padding: 23.38px 43.25px 30px 46.75px;
  border-right: 0.58px solid #9f9f9f;
}
.heading {
  color: var(--primary);
  font-family: "Anton", sans-serif;
  font-size: 20.56px;
  padding-bottom: 10.25px;
  border-bottom: 0.58px solid #9f9f9f;
}
.meta p strong {
  display: block;
  margin-bottom: 5px;
}
p {
  font-size: 11.69px;
}

.meta p {
  padding: 9.35px 0 5.84px 0;
  border-bottom: 0.23px solid #9f9f9f;
  margin: 6px 0;
  color: var(--text);
}
.meta a {
  text-decoration: none;
  color: inherit;
}
.prog-name {
  font-size: 11.69px;
  font-weight: bold;
  color: var(--text);
  padding-top: 9.35px;
  padding-bottom: 5.84px;
}
.progress {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.progress > .fill {
  height: 100%;
  width: 0;
  background: linear-gradient(to right, #84fab0, #8fd3f4);
  border-radius: 10px;
  animation: fillBar 1s forwards;
  animation-delay: 0.2s;
  transition: 0.3s;
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: var(--w);
  }
}
.fill:hover {
  background: linear-gradient(to right, #fa709a, #fee140);
}

/* profile */

main {
  flex: 1;
  padding: 20.56px 78.4px 19px 20.56px;
}
.profile p {
  line-height: 1.2;
  font-size: 11.69px;
  margin-top: 16px;
  color: #292929;
}
.circles {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.circle {
  position: relative;
  width: 72px;
  height: 72px;
}

.circle svg {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.circle .bg {
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 10;
}

.circle .fg {
  fill: none;
  stroke: url(#grad);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 282.74;
  stroke-dashoffset: calc(282.74 * (1 - var(--percent) / 100));
}

.circle .label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #333;
  font-size: 16px;
}
.circle:hover .fg {
  stroke: #fa709a;
}

/* timeline */

.timeline {
  color: #292929;
  position: relative;
}

.timeline h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  border-bottom: 0.58px solid #9f9f9f;
  padding-bottom: 5px;
}

.timeline-item {
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
  transition: 0.3s;
}
.timeline-item:hover {
  background: linear-gradient(to right, #fa709a, #fee140);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.timeline-item:hover .line-circle .circle {
  background: linear-gradient(to right, #fa709a, #fee140);
}
.timeline-item .year {
  width: 50px;
  font-size: 14px;
  font-weight: bold;
}
.timeline-item .line-circle {
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  flex-shrink: 0;
}

.timeline-item .circle {
  width: 10px;
  height: 10px;
  background-color: #9f9f9f;
  border-radius: 50%;
  margin-top: 3px;
  transition: 0.3s;
}

.timeline-item .content strong {
  margin-bottom: 2px;
}

.timeline-item .content {
  display: block;
  margin-left: 15px;
  font-size: 14px;
}
